<div class="container">
  <div class="row">
    <form class="login-form">  <!-- Keep the login-form class here for consistency -->
      <h2>Sign Up</h2>

      <div class="field">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>

      <div class="field">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>

      <div class="field">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
      </div>

      <div class="field">
        <label class="form-check-label" for="agree">
          <input type="checkbox" id="agree" name="agree" required> I agree to the terms and conditions
        </label>
      </div>

      <div class="actions">
        <input type="submit" value="Sign Up">
      </div>

       <a href="/users/sign_in">Log in</a><br />

    <form class="button_to" method="post" action="/users/auth/google_oauth2">
    <button data-turbo="false" type="submit" class="google-btn w-100">
      <img src="<%= asset_path('google-white.png') %>"
         alt="Google logo"
         style="width: 20px; height: 20px; margin-right: 10px;">
      Sign in with Google
    </button>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" autocomplete="off" />
</form>
      </div>
    </div>
  </div>
</div>
