<div class="visa-categories-index">
  <h1>This is visa categories index page</h1>

  <div class="actions">
    <%= link_to "Add New Visa Category", new_user_admin_visa_category_path, class: "admin-link"%>
    <%= link_to "Return to Admin Menu", user_admin_index_path, class: "admin-link" %>
  </div>

  <table class="visa-categories-table">
    <thead>
      <tr>
        <th>Visa Categories</th>
      </tr>
    <thead>

    <tbody>
      <% @visa_categories.each do |visa_category| %>
        <tr>
          <td>
            <p><%= link_to visa_category.name,  user_admin_visa_category_path(visa_category) %><p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
