<h2><%= @visa_category.name%> </h2>
<p><%= @visa_category.about%> </p>

<%= link_to "Update",
  edit_user_admin_visa_category_path(@visa_category)
%>

<%= button_to "Delete Category",  user_admin_visa_categories_path(@visa_category), method: :delete, data: { confirm: "Are you sure?" } %>
