<h1>This is visa categories index page</h1>

<h3><%= link_to "Add New Visa Category", new_visa_category_path%></h3>

<ul>
    <% @visa_categories.each do |visa_category| %>
      <li> <%= visa_category.name %></li>
    <% end %>
<ul>
