header.p-2.text-bg-dark {
  background: linear-gradient(45deg, #000, #495057); // Gradient background
  padding: 0.25rem 0; // Reduced padding for a more compact header
  position: absolute; // Sticky to the top
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1000; // Ensure it stays above other content
  margin: 0;
  transition: background 0.3s ease; // Smooth transition for the hover effect

  &:hover {
    background: linear-gradient(45deg, #495057, #000); // Lighter gradient on hover
  }

  .container {
    max-width: 1200px; // Center content within a maximum width
    height: auto;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    margin-top: 0;

    &:hover {
      color: #f8d22e; // Hover effect for the links
    }
  }

  img.me-2.logo {
    height: 150px; // Smaller logo for a more compact design
    width: auto; // Maintain the aspect ratio
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2)); // Subtle shadow effect
    vertical-align: middle; // Vertically align the image within the header
  }

  .btn {
    font-size: 0.9rem; // Slightly smaller font size for buttons
    padding: 6px 16px; // Adjust padding to maintain a compact look
    border-radius: 25px; // Slightly rounded corners
    font-weight: bold;
    transition: all 0.3s ease;
    margin-left: 10px; // Space between buttons

    &.btn-outline-light {
      color: #ffffff;
      border-color: #f8d22e;

      &:hover {
        background: #f8d22e;
        color: #000000;
      }
    }

    &.btn-warning {
      background: #f8d22e;
      color: #000000;
      border: none;

      &:hover {
        background: #e6c118;
      }
    }

    &.btn-danger {
      background: #d9534f;
      border: none;

      &:hover {
        background: #c9302c;
      }
    }
  }
}

// Queries
@media (max-width: 768px) {
  img.me-2.logo {
    height: 50px; // Smaller logo for smaller screens
  }
}
