<h1>Add a New Country</h1>

<%= form_with model: @country, url: admins_countries_path, local: true do |form| %>
  <% if @country.errors.any? %>
    <div>
      <h2>Errors:</h2>
      <!-- Display any validation errors here -->
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit 'Save Country' %>
  </div>
<% end %>
