<h1 class="text-center">Users Index</h1>

<p><%= link_to "Return to Admin Menu ", user_admin_index_path%></p>

<div class="users-index">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td>
            <%= link_to 'Edit Role', edit_user_admin_user_path(user), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
