<div class="visa-admin-index">
  <h1>This is visa index page</h1>

  <div class="actions">
    <%= link_to "Return to Admin Menu", user_admin_index_path, class: "btn" %>
  </div>

  <table class="visa-admin-table">
    <thead>
      <tr>
        <th>Visa</th>
      </tr>
    </thead>

    <tbody>
      <% @visas.each do |visa| %>
        <tr>
          <td>
            <p><%= link_to visa.name, user_admin_visa_path(visa) %></p>
          </td>
        </tr>
    <% end %>
    <tbody>
  </table>
</div>
